---
const heroTitle = "Building High-Converting Shopify Stores";
const heroDescription = "Specialized in custom Shopify themes, app development, and e-commerce optimization. Helping brands create seamless shopping experiences that drive sales.";
const primaryButtonText = "View Portfolio";
const primaryButtonHref = "#work";
const secondaryButtonText = "Get In Touch";
const secondaryButtonHref = "#contact";

const techBadges = [
  {
    name: "Shopify",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48"><path fill="#7cb342" d="M37.216,11.78c-0.023-0.211-0.211-0.305-0.351-0.305s-3.21-0.234-3.21-0.234s-2.132-2.132-2.39-2.343	c-0.234-0.234-0.68-0.164-0.867-0.117c-0.023,0-0.469,0.141-1.195,0.375c-0.726-2.086-1.968-3.984-4.194-3.984h-0.211	C24.187,4.375,23.391,4,22.735,4c-5.155,0-7.639,6.444-8.412,9.725c-2.015,0.633-3.445,1.054-3.609,1.125	c-1.125,0.351-1.148,0.375-1.289,1.429c-0.117,0.797-3.046,23.456-3.046,23.456L29.179,44l12.373-2.671	C41.575,41.282,37.24,11.991,37.216,11.78z M27.937,9.483c-0.562,0.164-1.242,0.375-1.921,0.609V9.671	c0-1.265-0.164-2.296-0.469-3.117C26.718,6.695,27.445,7.984,27.937,9.483L27.937,9.483z M24.117,6.812	c0.305,0.797,0.516,1.922,0.516,3.468v0.234c-1.265,0.398-2.601,0.797-3.984,1.242C21.422,8.804,22.899,7.351,24.117,6.812	L24.117,6.812z M22.617,5.359c0.234,0,0.469,0.094,0.656,0.234c-1.664,0.773-3.421,2.718-4.148,6.655	c-1.101,0.351-2.156,0.656-3.163,0.984C16.806,10.233,18.915,5.359,22.617,5.359z"></path><path fill="#558b2f" d="M36.865,11.428c-0.141,0-3.21-0.234-3.21-0.234s-2.132-2.132-2.39-2.343	C31.17,8.757,31.053,8.71,30.96,8.71L29.249,44l12.373-2.671c0,0-4.335-29.338-4.359-29.549	C37.169,11.569,37.005,11.475,36.865,11.428z"></path><path fill="#fff" d="M24.792,18.593l-1.475,4.449c0,0-1.337-0.715-2.927-0.715c-2.374,0-2.489,1.498-2.489,1.867	c0,2.028,5.301,2.812,5.301,7.583c0,3.757-2.374,6.177-5.578,6.177c-3.872,0-5.808-2.397-5.808-2.397l1.037-3.411	c0,0,2.028,1.752,3.734,1.752c1.129,0,1.59-0.876,1.59-1.521c0-2.651-4.333-2.766-4.333-7.145c0-3.665,2.628-7.214,7.952-7.214	C23.777,17.994,24.792,18.593,24.792,18.593z"></path></svg>`
  },
  {
    name: "React",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48"><path fill="#80deea" d="M24,34C11.1,34,1,29.6,1,24c0-5.6,10.1-10,23-10c12.9,0,23,4.4,23,10C47,29.6,36.9,34,24,34z M24,16	c-12.6,0-21,4.1-21,8c0,3.9,8.4,8,21,8s21-4.1,21-8C45,20.1,36.6,16,24,16z"></path><path fill="#80deea" d="M15.1,44.6c-1,0-1.8-0.2-2.6-0.7C7.6,41.1,8.9,30.2,15.3,19l0,0c3-5.2,6.7-9.6,10.3-12.4c3.9-3,7.4-3.9,9.8-2.5	c2.5,1.4,3.4,4.9,2.8,9.8c-0.6,4.6-2.6,10-5.6,15.2c-3,5.2-6.7,9.6-10.3,12.4C19.7,43.5,17.2,44.6,15.1,44.6z M32.9,5.4	c-1.6,0-3.7,0.9-6,2.7c-3.4,2.7-6.9,6.9-9.8,11.9l0,0c-6.3,10.9-6.9,20.3-3.6,22.2c1.7,1,4.5,0.1,7.6-2.3c3.4-2.7,6.9-6.9,9.8-11.9	c2.9-5,4.8-10.1,5.4-14.4c0.5-4-0.1-6.8-1.8-7.8C34,5.6,33.5,5.4,32.9,5.4z"></path><path fill="#80deea" d="M33,44.6c-5,0-12.2-6.1-17.6-15.6C8.9,17.8,7.6,6.9,12.5,4.1l0,0C17.4,1.3,26.2,7.8,32.7,19	c3,5.2,5,10.6,5.6,15.2c0.7,4.9-0.3,8.3-2.8,9.8C34.7,44.4,33.9,44.6,33,44.6z M13.5,5.8c-3.3,1.9-2.7,11.3,3.6,22.2	c6.3,10.9,14.1,16.1,17.4,14.2c1.7-1,2.3-3.8,1.8-7.8c-0.6-4.3-2.5-9.4-5.4-14.4C24.6,9.1,16.8,3.9,13.5,5.8L13.5,5.8z"></path><circle cx="24" cy="24" r="4" fill="#80deea"></circle></svg>`
  },
  {
    name: "JavaScript",
    icon: `<svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="20" height="20" viewBox="0 0 48 48"><path fill="#ffd600" d="M6,42V6h36v36H6z"></path><path fill="#000001" d="M29.538 32.947c.692 1.124 1.444 2.201 3.037 2.201 1.338 0 2.04-.665 2.04-1.585 0-1.101-.726-1.492-2.198-2.133l-.807-.344c-2.329-.988-3.878-2.226-3.878-4.841 0-2.41 1.845-4.244 4.728-4.244 2.053 0 3.528.711 4.592 2.573l-2.514 1.607c-.553-.988-1.151-1.377-2.078-1.377-.946 0-1.545.597-1.545 1.377 0 .964.6 1.354 1.985 1.951l.807.344C36.452 29.645 38 30.839 38 33.523 38 36.415 35.716 38 32.65 38c-2.999 0-4.702-1.505-5.65-3.368L29.538 32.947zM17.952 33.029c.506.906 1.275 1.603 2.381 1.603 1.058 0 1.667-.418 1.667-2.043V22h3.333v11.101c0 3.367-1.953 4.899-4.805 4.899-2.577 0-4.437-1.746-5.195-3.368L17.952 33.029z"></path></svg>`
  },
  {
    name: "Astro",
    icon: `<svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M16.074 16.86c-.72.616-2.157.769-3.567.769-1.938 0-4.287-.62-4.287-2.679 0-.983.654-1.685 1.842-2.305.83-.43 1.906-.676 3.168-.676 1.38 0 2.511.308 3.468.861v-.614c0-.953-.308-1.662-.861-2.061-.584-.43-1.476-.646-2.649-.646-1.753 0-3.168.477-4.287 1.415v-2.338c1.109-.769 2.679-1.169 4.595-1.169 1.753 0 3.168.415 4.133 1.261.953.862 1.415 2.092 1.415 3.722v4.441c0 .461.369.83.861.83.092 0 .184-.015.276-.046v1.415c-.338.092-.646.153-.922.153-1.23 0-1.938-.692-2.092-2.061-.092-.307-.138-.646-.138-1.061zM15.045 14.54c-.646-.369-1.415-.553-2.338-.553-1.261 0-2.215.461-2.215 1.323 0 .769.738 1.2 2.061 1.2 1.322 0 2.492-.399 2.492-1.538v-.432zM20.306 11.11c-.585-.523-1.246-.785-2.061-.785-.831 0-1.569.308-2.215.954l-.061-.738h-2.4v11.446h2.492v-4.61c.646.538 1.415.815 2.338.815.738 0 1.415-.246 2.061-.738.738-.585 1.076-1.446 1.076-2.646 0-1.261-.399-2.246-1.23-2.954zm-2.277 1.907c.308.308.461.738.461 1.323 0 .585-.153 1.015-.461 1.323-.308.308-.738.461-1.23.461-.554 0-1.015-.184-1.415-.554-.308-.308-.461-.769-.461-1.384 0-.554.153-.984.461-1.292.369-.369.83-.554 1.415-.554.492 0 .923.184 1.23.554zM23.338 13.325c-.153-.769-.369-1.415-.646-1.922a4.7 4.7 0 0 0-1.138-1.415c-.461-.384-.984-.676-1.569-.892-.338-.123-.707-.215-1.107-.246-.215-.031-.431-.046-.646-.046-1.938 0-3.491.738-4.656 2.2-.923 1.138-1.384 2.523-1.384 4.133 0 1.692.461 3.077 1.384 4.195 1.169 1.415 2.723 2.123 4.656 2.123.215 0 .431-.015.646-.046.4-.03.769-.123 1.107-.246.585-.216 1.108-.508 1.569-.892.461-.369.861-.8 1.138-1.415.277-.507.493-1.153.646-1.922.092-.523.138-1.046.138-1.569 0-.523-.046-1.046-.138-1.569zM20.906 14.894c-.153.646-.461 1.169-.923 1.569-.461.4-1.015.6-1.661.6-.646 0-1.2-.2-1.661-.6-.461-.4-.769-.923-.923-1.569-.092-.369-.138-.738-.138-1.107 0-.369.046-.738.138-1.107.153-.646.461-1.169.923-1.569.461-.4 1.015-.6 1.661-.6.646 0 1.2.2 1.661.6.461.4.769.923.923 1.569.092.369.138.738.138 1.107 0 .369-.046.738-.138 1.107zM11.754 13.325c-.153-.769-.369-1.415-.646-1.922a4.7 4.7 0 0 0-1.138-1.415c-.461-.384-.984-.676-1.569-.892-.338-.123-.707-.215-1.107-.246-.215-.031-.431-.046-.646-.046-1.938 0-3.491.738-4.656 2.2-.923 1.138-1.384 2.523-1.384 4.133 0 1.692.461 3.077 1.384 4.195C2.161 20.747 3.715 21.455 5.648 21.455c.215 0 .431-.015.646-.046.4-.03.769-.123 1.107-.246.585-.216 1.108-.508 1.569-.892.461-.369.861-.8 1.138-1.415.277-.507.493-1.153.646-1.922.092-.523.138-1.046.138-1.569 0-.523-.046-1.046-.138-1.569zM9.322 14.894c-.153.646-.461 1.169-.923 1.569-.461.4-1.015.6-1.661.6-.646 0-1.2-.2-1.661-.6-.461-.4-.769-.923-.923-1.569-.092-.369-.138-.738-.138-1.107 0-.369.046-.738.138-1.107.153-.646.461-1.169.923-1.569.461-.4 1.015-.6 1.661-.6.646 0 1.2.2 1.661.6.461.4.769.923.923 1.569.092.369.138.738.138 1.107 0 .369-.046.738-.138 1.107z"></path></svg>`
  },
  {
    name: "Cypress",
    icon: `<svg width="18" height="18" viewBox="0 0 24 24" fill="currentColor"><path d="M11.998 0C5.366 0 0 5.367 0 12a11.992 11.992 0 0 0 12 12c6.633 0 12-5.367 12-12-.001-6.633-5.412-12-12.002-12zM6.37 14.575c.392.523.916.742 1.657.742.35 0 .699-.044 1.004-.175.306-.13.655-.306 1.09-.567l1.223 1.745c-1.003.83-2.138 1.222-3.447 1.222-1.048 0-1.92-.218-2.705-.654a4.393 4.393 0 0 1-1.746-1.92c-.392-.83-.611-1.79-.611-2.925 0-1.09.219-2.094.61-2.923a4.623 4.623 0 0 1 1.748-2.007c.741-.48 1.657-.698 2.661-.698.699 0 1.353.087 1.877.305a5.64 5.64 0 0 1 1.614.96l-1.222 1.658A4.786 4.786 0 0 0 9.12 8.77c-.305-.13-.698-.174-1.048-.174-1.483 0-2.225 1.134-2.225 3.446-.043 1.18.175 2.008.524 2.532h-.001zm12.455 2.705c-.436 1.353-1.091 2.357-2.008 3.098-.916.743-2.138 1.135-3.665 1.266l-.305-2.05c1.003-.132 1.745-.35 2.225-.7.174-.13.524-.523.524-.523L11.519 6.764h3.01l2.095 8.683 2.226-8.683h2.923L18.174 18.14v.001z"></path></svg>`
  }
];
---

<section class="hero">
  <div class="container">
    <div class="hero-content">
      <div class="tech-badges">
        {techBadges.map((badge) => (
          <span class="tech-badge">
            <Fragment set:html={badge.icon} />
            {badge.name}
          </span>
        ))}
      </div>
      <h1 class="hero-title">{heroTitle}</h1>
      <p class="hero-description">{heroDescription}</p>
      <div class="hero-actions">
        <a href={primaryButtonHref} class="btn btn-primary">{primaryButtonText}</a>
        <a href={secondaryButtonHref} class="btn btn-secondary">{secondaryButtonText}</a>
      </div>
    </div>
  </div>
</section>

<style>
  @import '../styles/hero.css';
</style>
